{% extends "AppCoder/padre.html" %}

{% load static %} 

{% block contenidoQueCambia %} 

<h1>Formulario - Buscar Producto:</h1>

<form action="/AppCoder/buscar/" method="GET">

    <input type="number" name="codigo" id="codigo">

    <input type="submit" value="Buscar">

</form>

{% if producto %}

<p>Estamos buscando el codigo: {{codigo}}</p>

<ul>
{% for p in producto %}
    <li> DESCRIPCION: {{p.descripcion}} </li>
    <li> CODIGO: {{p.codigo}} </li>
    <li> STOCK: {{p.stock}} </li>
{% endfor %}
</ul>

{% endif %}

<p style='color: red';>{{respuesta}}</p>

{% endblock%} 
